:root {
  --darkGreen: #435334;
  --midGreen02: #9EB384;
  --midGreen01: #CEDEBD;
  --lightGreen: #FAF1E4;
  --niceGreen: #269066;
  --niceGreenLight: #33BB80;
  
  --animationDelay: 0ms;
}

* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
}

html, body {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  font-weight: 900;
  font-size: 50px;
  margin: 10px;
  margin-top: 40px;
}

p {
  font-size: 20px;
}

button {
  background-color: greenyellow;
  border: none;
  border-radius: 10px;
  font-size: 20px;
  padding: 10px 15px;
  box-shadow: 0 5px 0 yellowgreen;
  font-weight: 600;
  color: black;
  z-index: 101;
  transition: 0.25s;
}

/*button:hover {
  cursor: pointer;
  transform: translateY(-2px);
}*/

button:active {
  transform: translateY(4px);
  box-shadow: 0 1px 0 var(--niceGreen);
}

.hidden_fade {
  opacity: 0;
  transition: all 1s;
}

.show_fade {
  opacity: 1;
}

.hidden_slideFromLeft {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 1s;
  transition-delay: var(--animationDelay);
}

.show_slideFromLeft {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

.hidden_slideFromBottom {
  opacity: 0;
  filter: blur(5px);
  transform: translateY(25%);
  transition: all 1s;
  transition-delay: var(--animationDelay);
}

.show_slideFromBottom {
  opacity: 1;
  filter: blur(0);
  transform: translateY(0);
}

.transition {
  position: fixed;
  height: 100%;
  left: 0;
  right: 0;
  bottom: -100%;
  z-index: 105;
  background-color: black;
  transition: 0.5s ease-oute;
}

.transition.is-active {
  bottom: 0;
}

#title {
  width: 100%;
  height: 500px;
  padding: 10px;
  display: flex;
  gap: 250px;
  align-items: center;
  justify-content: center;
  background-color: var(--darkGreen);
  border-radius: 0 0 30px 30px;
}

#title div {
  width: 400px;
}

#title h1 {
  font-size: 2em;
  color: white;
  margin-bottom: 10px;
  line-height: 35px;
}

#title p {
  color: var(--lightGreen);
  font-weight: 600;
  margin-bottom: 15px;
}

#title img {
  width: 300px;
  height: 400px;
}

nav {
  background: var(--darkGreen);
  width: 100%;
  height: 3em;
  border-bottom: 1px solid var(--niceGreen);
  position: sticky;
  top: -1px;
  z-index: 10;
}

#main {
  background: var(--lightGreen);
  width: 100%;
}

.colored-section {
  background-color: var(--midGreen01); 
  width: 100%;
  margin-top: 60px;
  padding: 30px 0 60px 0;
}

.colored-section > h2 {
  text-align: center;
  margin-bottom: 35px;
  font-size: 3em;
  font-weight: 900;
  color: white;
  letter-spacing: 0.025em;
}

.colored-section > div {
  margin: auto;
  display: flex;
  justify-content: space-between;
  gap: 5%;
  flex-wrap: wrap;
  width: 850px;
}

.colored-section .two-column .card {
  width: 45%;
}

.colored-section .one-column .card {
  width: 100%;
}

#interests {
  margin: 60px auto;
  display: flex;
  justify-content: center; 
  gap: 70px;
  flex-wrap: wrap;
  width: 850px;
}

.card {
  position: relative;
  border: 0px solid black;
  border-radius: 10px;
  width: 225px;
  height: 260px;
  padding: 5px;
  box-shadow: 0px 0px 10px var(--darkGreen);
  background-image: var(--img);
  background-size: cover;
  transition: all 0.5s;
}

.card button {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.card div {
  position: absolute;
  max-width: 100%;
  bottom: 0;
  left: 0;
  margin-bottom: 10px;
  padding: 0 5px;
}

.card h2 {
  color: white;
  font-weight: 600;
  font-size: 1.2em;
}

.card .description {
  margin-top: 5px;
  color: white;
  font-size: 1em;
}

.card:hover div {
  animation: cardHover 0.5s 1 forwards;
  cursor: pointer;
}

.card:hover {
  width: 230px;
  height: 265px;
  transform: translateY(-5px);
  box-shadow: 0px 0px 15px var(--darkGreen);
}

@keyframes cardHover {
  0% {opacity: 1;}
  15% {opacity: 0;}
  60% {
    height: 75%;
    inset: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin: 5px;
    
    filter: blur(5px);
    opacity: 0;
    transform: translateY(15px);
  }
  100% {
    height: 75%;
    inset: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin: 5px;
    
    filter: blur(0);
    opacity: 1;
    transform: translateY(0);
  }
}

.card:hover .description {
  animation: cardHoverDescription 0.5s 1 forwards;
}

@keyframes cardHoverDescription {
  75% {
    padding: 0 10px;
    text-align: center;
  }
  100% {
    padding: 0 10px;
    text-align: center;
  }
}

.card::before {
  content: ' ';
  position: absolute;
  width: 100%;
  height: 100%;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  opacity: 0;
  transition: all 0.5s;
}

.card:hover::before {
  opacity: 1;
}

#aboutMe {
  
}

#footer {
  height: 50px;
}